/* ------------ */
/* Reusable CSS */
/* ------------ */
body {
    font: 15px 'Open Sans', Arial, sans-serif;
    background-color: #fff !important;
    color: #888 !important;
}
/* Custom Font Color */
.text_1 {
    color: #fff !important;
}
.text_2 {
    color: #344807 !important;
}
.text_3 {
    color: #777 !important;
}
.text_4 {
    color: #bbb !important;
}
.text_5 {
    color: #ff0000 !important;
}
/* Custom BG Color */
.bg_1 {
    background-color: linear-gradient(to bottom,  #ffffff 0%,#fafafa 100%);
}
.bg_2 {
    background-color: #3A3A3A !important;
}
.bg_2 {
    background-color: #303030 !important;
}

main {
    width: 1000px !important;
    margin: auto;
}
/* ---------- */
/* Header CSS */
/* ---------- */
.left_logo {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9;
}
.right_logo {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
}

.carousel-item img {
    height: 50vh !important;
}

.li_hvr {
    transition: .3s;
}
.li_hvr:hover {
    background-color: #3A3A3A !important;
    border-right: 1px solid #3A3A3A;
    border-left: 1px solid #3A3A3A;
}
.li_hvr:hover a, .li_hvr:hover i {
    color: #fff !important;
}
.li_hvr:hover .dropdown-menu a {
    color: #303030 !important;
}
/* ------- */
/* Box CSS */
/* ------- */
.info_box {
    background-color: #f6f6f6;
    transition: .3s;
}
.info_box:hover {
    background-color: #fff;
}
.info_icon {
    background-image: url("../img/icon/service-bkg.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 75px;
    background-position: center;
    margin-top: -30px;
}
.info_icon i {
    padding-top: 15px;
}


/* ---------------- */
/* Recent Photo CSS */
/* ---------------- */
.photo_box img {
    width: 100%;
    height: 100% !important;
}


footer {
    padding: 0 250px;
}

















/* -------------- */
/* Responsive CSS */
/* -------------- */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    main {
        width: 100% !important;
    }
    .left_logo {
        width: 200px;
    }
    .right_logo {
        width: 200px;
    }
    footer {
        padding: 0 !important;
    }
}